// Colors
$color-night-blue: #01002B; // mostly for header and footer background + dark text
$color-dark-blue1: #092231; // main background 1
$color-dark-blue2: #1D3B4D; // main background 2
$color-dark-blue3: #16252F; // for drop-down menu in mobile view
$color-light: #E7F6FF; // for light text + light background + frames strokes
$color-alert: #971010; // for error messages

// Fonts
@import url(https://fonts.bunny.net/css?family=electrolize:400);

// Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1300px;